.MuiPickersBasePicker-pickerView {
  margin: 0 auto;
}

a {
  color:inherit;
  text-decoration: none;
}

body {
  background-color: #ddd;
}

.MuiTextField-root {
  width: 100%;
}

.MuiCard-root {
  margin-bottom: 8px;
}